# mysql
spring:
    datasource:
        driverClassName: com.mysql.jdbc.Driver
        url: jdbc:mysql://localhost:3306/usertest
        username: root
        password: 1234
        
    mvc:
        view:
             prefix: /WEB-INF/views/
             suffix: .jsp
# Mybatis配置
mybatis:
  mapper-locations: classpath:mapper/UserMapper.xml
  
  


  
  
